@import './type.css';
@import './App.css';
@import './Button.css';
@import './Wrapper.css';

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}


